*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production

# IDE
.idea/
.vscode/
.zed/
.cursor/
.nova/

# PHP
.phpactor.json
.phpunit.result.cache
.phpunit.cache/
_ide_helper.php
auth.json

# Laravel
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Dependencies
/node_modules
/vendor

# Build files
/public/build

# Homestead
Homestead.json
Homestead.yaml

# Codex
.codex/